## Importing libraries

In [1]:
# Libraries for loading and preprocessing data
import pandas as pd
import numpy as np

In [3]:
print(pd.__version__ )

2.2.3

# Loading Data

In [5]:
data = pd.read_csv("Datasets/Iris_data_sample.csv")

In [8]:
## Load the first 5 roow
data.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [14]:
### How inmport a text data
data_2 = pd.read_table("Datasets/Iris_data_sample.txt",delimiter =" ")
data_2

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica